<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-weight-bold">Welcome</h1>
            
            <div class="content">
                <p>Join us in celebrating this cherished local tradition that brings together our community in a beautiful celebration of spring and renewal.</p>

                <h2 class="title is-3">About the Petts Wood May Queen Group</h2>
                <p>The Petts Wood May Queen Group is a community group that, each year, comes together to crown our May Queen and participate in May Fayres throughout South London and Kent.</p>

                <h3 class="title is-3">Upcoming events</h3>
                <div><s><strong>Orpington Wood May Fayre</strong></s></div>
                <div><s><strong>Date</strong>: May 3rd 2025</s></div>
                <div><s><strong>Location</strong>: <a href="https://g.co/kgs/SdZ7SMr">Orpington War Memorial</a></s></div>
                <div><s>344 High St., Orpington BR6 0NQ</s></div>
                <div><s><strong>Time</strong>: 12.30 am</s></div>
                <br>
                <div><s><strong>Petts Wood May Fayre</strong></s></div>
                <div><s><strong>Date</strong>: May 5th 2025</s></div>
                <div><s><strong>Location</strong>: <a href="https://maps.app.goo.gl/svwC7rvWPoRmgii46">Petts Wood Memorial Hall</a></s></div>
                <div><s>Kent, 200 Petts Wood Rd, Petts Wood, Orpington BR5 1L</s></div>
                <div><s><strong>Time</strong>: 11 am - 4 pm</s></div>
                <br>
                <div><strong>Pratt's Bottom May Fayre</strong></div>
                <div><strong>Date</strong>: May 10th 2025</div>
                <div><strong>Location</strong>: <a href="https://maps.app.goo.gl/PUnk6n6DC4WMp7q29">Pratt's Bottom Recreation Ground</a>
                <div>Broke Farm Dr, Pratt's Bottom, Orpington BR6 7SJ</div>
                <div><strong>Time</strong>: 11.30am</div>
                <br>
                <div><strong>Crofton Infant School Summer Fair</strong></div>
                <div><strong>Date</strong>: June 14th 2025</div>
                <div><strong>Location</strong>: <a href="https://maps.app.goo.gl/rjmduufMAjM8n4Xz7">Crofton Infant School</a></div>
                <div>Towncourt Lane, Petts Wood, Orpington BR5 1EL</div>
                <div><strong>Time</strong>: 12pm</div>
                <br>
        </div>
    </div>
</section>