<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-weight-bold">Welcome</h1>
            
            <div class="content">
                <p>Join us in celebrating this cherished local tradition that brings together our community in a beautiful celebration of spring and renewal.</p>

                <h2 class="title is-3">About the Petts Wood May Queen Group</h2>
                <p>The Petts Wood May Queen Group is a community group that, each year, comes together to crown our May Queen and perform Maypole dances.</p>

                <h2 class="title is-3">Key Information - Petts Wood May Fayre</h2>
                    <div><strong>Date</strong>: May 1st 2025</div>
                    <div><strong>Location</strong>: <a href="https://maps.app.goo.gl/svwC7rvWPoRmgii46">Petts Wood Memorial Hall</a></li>
                    <div>Kent, 200 Petts Wood Rd, Petts Wood, Orpington BR5 1L</a></div>
                    <div><strong>Time</strong>: 11 am - 4 pm</div>
        </div>
    </div>
</section>