<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Get in Touch
            </h3>
            <p class="has-text-black is-size-6 mb-6">We'd love to hear from you! Whether you're interested in volunteering, sponsoring, or just want to learn more about the event.</p>
            
            <div class="buttons is-centered">
                {% unless site.email == %}
                <a href="mailto:{{site.email}}"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                    target="_blank">
                    <i class="fas fa-envelope"></i>Email the Committee
                </a>
                {% endunless %}
                
                {% unless site.facebook_username == %}
                <a href="https://facebook.com/{{site.facebook_username}}"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                    target="_blank">
                    <i class="fab fa-facebook"></i>Follow us on Facebook
                </a>
                {% endunless %}

                <a href="{{site.url}}{{site.baseurl}}/blog"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                    target="_blank">
                    <i class="fas fa-newspaper"></i>Latest Updates
                </a>
            </div>
        </div>
    </div>
</section>
