<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script defer src="https://umami.hughevans.dev/script.js" data-website-id="44eafd81-2f64-457e-a4fd-8888e9732a92"></script>
</head>